<h1> <%= t( 'produtos.index.titulo' ) %> </h1>

<table class="zebra-striped">
    <thead>
        <tr>
          <th>Nome</th>
          <th>Preço</th>
        </tr>
     </thead>

    <tbody>

        <% @produtos.each do | produto | %> <!-- Sem igual, nao imprime -->
        <tr>
            <td> <%= link_to produto.nome, produto_path(produto), :class => 'link' %> </td> <!-- Imprime o resultado do codigo ruby -->
            <td> <%= number_to_currency produto.preco %> </td> <!-- Helper com apenas 1 parametro nao necessita parenteses -->
        </tr>
        <tr>
          <% end %>
        </tr>

    </tbody>
</table>